<div class="mb-3">
  <canvas id="avgGpaPerQtrChart"></canvas>
</div>
<script>
  const avgGpaPerQtrData = {
    labels: {{ avg_gpa_per_qtr.labels | safe }},
    datasets: [{
      label: "Average GPA",
      data: {{ avg_gpa_per_qtr.data | safe }},
      backgroundColor: "#0d6efd"
    }]
  };

  const avgGpaPerQtrConfig = {
    type: "line",
    data: avgGpaPerQtrData,
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: "Average GPA per Quarter",
          font: {
            size: 24
          }
        },
        tooltip: {
          mode: 'nearest',
          axis: 'x',
          intersect: false
        }
      },
      scales: {
        x: {
          ticks: {
            autoskip: false
          },
          title: {
            display: true,
            text: "Quarter"
          }
        },
        y: {
          beginAtZero: true
        }
      }
    }
  };

  var avgGpaPerQtrCtx = document.getElementById("avgGpaPerQtrChart").getContext("2d");
  var avgGpaPerQtrChart = new Chart(avgGpaPerQtrCtx, avgGpaPerQtrConfig);
</script>